# .gitignore

################################################################################
# Microsoft(R) Visual Studio
################################################################################
/.vs

################################################################################
# Output
################################################################################
/out
/build
