# .gitignore

################################################################################
# Microsoft(R) Visual Studio
################################################################################
/.vs

################################################################################
# Microsoft(R) Visual Studio Code
################################################################################
/.vscode
!/.vscode/tasks.json
!/.vscode/launch.json

################################################################################
# Output
################################################################################
/out
/build
